# File and folder exclusions

# CMOR subdirs
CMOR/input4MIPs-cmor-tables

# SST_NEW* files
SST_NEW5/*.tar.bz2
SST_NEW5/*.nc

# Executables
mkhurrell1

# Netcdf files
*.nc

# Other files
*.csh~
*.py~
*.sh~
